<div style="height: 100vh;">
  <div class="container-fluid" style="background-image: url(<%= image_path('home-image.svg') %>); height: 61vh; background-size: 100vw; background-repeat: no-repeat;">
  </div>

  <div class="container">
    <h2 class="text-primary mt-3 text-center">Claire's Garden</h2>
    <% if user_signed_in? %>
      <h6 class="text-primary text-center">Vous êtes déjà connecté</h6>
      <div class="row mt-2">
        <%= link_to "Accueil", plants_path, class: 'btn btn-primary col-6 offset-3 d-block mt-5' %>
      </div>
    <% else %>
      <div class="row mt-2">
        <%= link_to "S'inscrire avec un email", new_user_registration_path, class: 'btn btn-primary col-6 offset-3 d-block mt-5' %>
        <!-- <a href="#" class="col-8 offset-2 btn btn-primary d-block mt-3" data-toggle="modal" data-target="#signupModal">S'inscrire avec un email</a> -->
      </div>
      <div class="row">
         <%= link_to "Se connecter avec Google", new_user_registration_path, class: "col-8 offset-2 btn btn-danger d-block mt-3" %>
      </div>
      <p class="text-center mt-3">Vous avez déjà un compte ? <%= link_to "se connecter", new_user_session_path %></p>
      <!-- <p class="text-center mt-3">Vous avez déjà un compte ? <a href="#" data-toggle="modal" data-target="#signinModal">se connecter</a></p> -->
   <% end %>
  </div>
</div>



<!-- SignUp Modal  -->

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :first_name %>
              <%= f.input :last_name %>
              <%= f.input :photo,
                          as: :file,
                          input_html: { class: "d-none", id: 'photo-input' },
                          label_html: { class: 'upload-photo col-12 text-center'},
                          label: '📷 Choisissez une photo' %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Enregistrer" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SignIn Modal  -->

<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Se connecter" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
