<% tasks.each do |task| %>
  <%= link_to task_path(task),
    class: 'text-decoration-none' do %>
    <div class="card task-card">
      <% if task.photo.attached? %>
        <%= cl_image_tag task.photo.key %>
      <% else %>
        <%= image_tag('task_placeholder.jpg') %>
      <% end %>
      <section>
        <div class="d-flex justify-content-between">
          <span class="plant-name-in-task-card"><%= task.plant.name %></span>
          <div class="d-flex justify-content-end mb-2">
            <span class="badge badge-pill badge-success"><%= task.season %></span>
            <span class="badge badge-pill badge-warning ml-1"><%= task.periodicity %></span>
          </div>
        </div>
        <h6><%= task.name %></h6>
      </section>
    </div>
  <% end %>
<% end %>
