<!-- Banner -->

<div class="banner"
style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
<% if @plant.photo.attached? %>
  url(<%= cl_image_path @plant.photo.key %>);
<% else %>
  url(<%= image_path('flower_placeholder.jpg') %>);
<% end %>">
  <div class="d-flex justify-content-between">
    <h4><%= link_to plants_path do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    </h4>
    <div class="dropdown align-self-end">
      <!-- avatar -->
      <%= render 'shared/avatar' %>
      <!-- dropdown-menu from avatar -->
      <%= render 'shared/avatar_dropdown' %>
    </div>
  </div>


<h3><%= @plant.name %></h3>
</div>

<!-- page content -->
<div class="container" style="margin-bottom: 75px;">

  <!-- notes -->
  <div class="d-flex justify-content-between">
    <h5 class="my-3">Notes</h5>
    <button class="edit-button" data-toggle="modal" data-target="#editPlantModal"><i class="fas fa-pen"></i></button>
  </div>

  <div class="card note-card">
    <%= @plant.notes %>
  </div>

  <!-- Taskss -->
  <h5 class="my-3">Actions</h5>
  <!-- dropdown filter -->
  <div class="row px-2">
    <%= form_tag plant_path(@plant), method: :get, class: "filter inline-filter w-100", id: "season-filter-form", remote: true do %>
      <div class="col-4 text-right">
        <%= label_tag "Saison :" %>
      </div>
      <div class="col-7">
        <%= select_tag "season", options_for_select( ["Toutes", "Printemps", "Eté", "Automne", "Hiver"], @season ) %>
      </div>
      <%= submit_tag "Apply filters", class: 'btn btn-primary d-none', name: nil %>
    <% end %>
  </div>

  <!-- Task cards -->
  <div id="task-cards">
        <%= render 'task_cards', tasks: @tasks %>
      </div>

</div>

<!-- Add a new action button -->
    <button class="btn btn-primary button claire-garden-button button-sticky-bottom" data-toggle="modal" data-target="#newActionModal">AJOUTER UNE ACTION</button>

<!-- new task modal -->

<div class="modal fade" id="newActionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvelle action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [@plant, @task] do |f| %>
            <%= f.input :name,
                        label: false,
                        placeholder: "Nom*",
                        input_html: { class: "col-12 mb-3"} %>
            <div class="row">
              <div class="col-6">
                <%= f.input :start_date,
                            discard_day: true,
                            discard_year: true,
                            label: "débute",
                            input_html: { class: "col-12 mb-3"},
                            label_html: { class: "align-self-center"},
                            wrapper_html: { class: 'd-flex flex-column m-0' }
                %>
              </div>
              <div class="col-6">
                <%= f.input :end_date,
                            discard_day: true,
                            discard_year: true,
                            label: "termine",
                            input_html: { class: "col-12 mb-3"},
                            label_html: { class: "align-self-center"},
                            wrapper_html: { class: 'd-flex flex-column m-0' }
                %>
              </div>
            </div>
            <%= f.input :periodicity,
                        label: "Périodicité",
                        placeholder: "Annuel",
                        as: :select,
                        collection: Task::PERIODICITES,
                        input_html: { class: "col-12 mb-3"} %>
            <%= f.rich_text_area :content,
                        label: false,
                        placeholder: "Couper les branches en laissant 2 noeuds",
                        input_html: { class: "col-12 mb-3"} %>
            <%= f.input :photo,
                        as: :file,
                        input_html: { class: "d-none" },
                        label_html: { class: 'upload-photo col-12 text-center mt-2'},
                        label: '📷 Choisissez une photo' %>
            <div class="row">
              <%= link_to 'Annuler', plant_path(@plant), class: "btn btn-outline-danger col-6" %>
              <%= f.submit 'Valider', class: "btn btn-primary col-6 disabled", id: 'new-task-submit' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit plant modal -->

<div class="modal fade" id="editPlantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier plante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [@plant] do |f| %>
            <%= f.input :name,
                        label: false,
                        placeholder: "Nom*",
                        input_html: { class: "col-12 mb-3" } %>
            <%= f.input :notes,
                        label: false,
                        placeholder: "Notes",
                        input_html: { class: "col-12 mb-3" } %>
            <%= f.input :category,
                        placeholder: "Type de plante",
                        as: :select,
                        collection: Plant::CATEGORIES,
                        input_html: { class: "col-12" } %>
            <%= f.input :photo,
                        as: :file,
                        input_html: { class: "d-none" },
                        label_html: { class: 'upload-photo col-12 text-center'},
                        label: '📷 Choisissez une photo' %>
            <%#= image_tag "", width: 300, class: "hidden mx-auto mb-2", id: "photo-preview" %>
            <div class="row">
              <%= link_to 'Annuler', plant_path(@plant), class: "btn btn-outline-danger col-6" %>
              <%= f.submit 'Valider', class: "btn btn-primary col-6" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

