<div class="d-flex flex-column justify-content-between" style="height: 100vh;">
  <!-- Header -->
<div class="header" style="background-image: url(<%= image_path('sign_in_header.svg') %>);">
    <h1 class="text-primary text-center">Claire's Garden</h1>
    <a href="https://storyset.com/work">Illustration by Freepik Storyset</a>
</div>

  <!-- Form -->
  <div class="container flex-grow-1 d-flex flex-column justify-content-around mt-2">
    <%= link_to user_facebook_omniauth_authorize_path,
     class: "d-flex justify-content-center align-items-center btn button fb-sign-in-button" do %>
      <p class="m-0">connexion avec&nbsp;</p><div></div><i class="fab fa-facebook-square" style="font-size: 40px;"></i>
    <% end %>
    <div id="or" class="my-1"><span class="px-2">OU</span></div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  label: false,
                  placeholder: "email",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: false,
                  placeholder: "mot de passe",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <div class="d-flex justify-content-between">
        <%= f.input :remember_me,
                    label: "se souvenir de moi",
                    as: :boolean if devise_mapping.rememberable? %>
        <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %>
      </div>
    </div>
  </div>

  <!-- Submit button & redirect to sign up -->
  <div class="container">
    <div class="form-actions">
      <%= f.button :submit, "Connexion", class: "button claire-garden-button" %>
    </div>
    <% end %>
    <p class="text-center my-2">Pas encore de compte ? <%= link_to "Enregistrez vous", new_registration_path(resource_name) %></p>
  </div>
</div>

