<!DOCTYPE html>
<html>
  <head>
    <title>Claire's Garden - Mieux gérer son jardin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%# For PWA %>
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="<%= image_path 'icons/favicon-144.png' %>">
    <meta name="msapplication-config" content="<%= image_path 'icons/browserconfig.xml' %>">
    <%= render 'shared/ios_pwa_links' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <%= favicon_link_tag asset_path('claires_garden_favicon.png') %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
